﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PPFP.aspx.vb" MasterPageFile="~/Site.Master" Inherits="web.PPFP" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <style type="text/css">
        #form1 {
            text-align: center;

        }
        #Submit1 {
            height: 35px;
        }
       
      
         .newStyle2 {
            margin-top: 1rem;
            margin-right: 1rem;
        }
        .newStyle3 {
            margin-top: 1rem;
            margin-right: 1rem;
            text-align: center;
            margin-bottom: 18rem;
        }
    </style>

    <br />

    Word Order ID&nbsp;&nbsp;&nbsp;

    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    <br />
    End Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
    <br />
    Scrapped Qty&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
    <br />
    Scrap Reason&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>



    <br />
    <br />
    <asp:Button ID="Button1" runat="server" Text="Push" Width="231px" />
    <asp:Table ID="Table1" runat="server" Height="441px" Width="970px">
    </asp:Table>



    </asp:Content>